[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.1.4"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
config = "*"
requests = "*"
flask-migrate = "*"
uwsgi = "*"
gunicorn = "*"
flask-login = "*"
flask-restx = "*"

[dev-packages]

[requires]
python_version = "3.9"
